@model WEB_ASP.NET.Models.Servicios

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel=" stylesheet" href="~/css/servicios.css">
}

<div class="page-container">
    <h1 class="page-title">Crear Servicio</h1>

    <div class="form-container">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label">Título</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenido" class="control-label">Contenido</label>
                <textarea asp-for="Contenido" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ImagenURL" class="control-label">Imagen</label>
                <input type="file" id="ImagenFile" name="ImagenURL" class="form-control"
                       accept=".jpg,.jpeg,.png" required />
                <small class="text-muted">Formatos permitidos: JPG, PNG</small>
            </div>
            <div class="actions-container">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-back">Volver al Listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
